body {
    background-image: url('./backgrounds/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.stripe {
    /* Positioning */
    position: absolute;
    top: 40%;
    width: 100%;

    /* Size! */
    height: 200px;

    /* Coloring */
    background-color: rgba(0, 0, 0, 0.5);

    /* Font/Typeface stuff */
    font-family: 'Open Sans';
    font-size: 100pt;
    color: #F1F2F3;
    text-align: center;
}

.digit {
    font-weight: normal;
    font-size: 100pt;
}

.digit_unit {
    color: #56D3FF;
    font-weight: 100;
    font-size: 70pt;
}

.fin {
    color: #7BFF84
}
